<%graphql
  fragment Statuses on Root {
    latestStatus {
      ...Views::Dashboard::LatestStatus::Status
    }

    statuses(first: $first, includeLatest: false) {
      nodes {
        ...Views::Statuses::Status::Status
      }
    }
  }
%>
<% data = Views::Dashboard::Index::Statuses.new(data) %>
<% latest_status = data.latest_status %>
<% statuses = data.statuses.nodes %>
<section class="overall-status-container">
  <div class="big-status container-lg clearfix">
    <%= render partial: "dashboard/latest_status", locals: { status: latest_status } %>
  </div>
</section>
<section class="status-history mt-3">
  <% has_statuses = statuses.count > 0 %>
  <div class="container-lg">
    <div class="history-header mb-3 clearfix">
      <h2 class="float-left">Status History</h2>
      <% if has_statuses %>
        <a href="<%= statuses_path %>" class="mt-2 float-right">View all</a>
      <% end %>
    </div>
    <% if has_statuses %>
      <% statuses.each do |status| %>
        <%= render partial: "statuses/status", locals: { status: status } %>
      <% end %>
    <% else %>
      <p class="text-center pt-3">No status events yet. Hooray uptime!</p>
    <% end %>
  </div>
</section>
