<section class="overall-status-container">
  <div class="big-status container-lg">
    <%= render partial: "dashboard/latest_status", locals: { status: latest_status } %>
  </div>
</section>
<section class="status-history mt-3">
  <div class="container-lg">
    <div class="history-header my-4 d-flex flex-items-center">
      <div class="col-10"><h2>Recent events</h2></div>
      <div class="col-2 text-right">
        <% if statuses.any? %>
          <a href="<%= statuses_path %>" class="mt-2">View history</a>
        <% end %>
      </div>
    </div>
    <% if statuses.any? %>
      <% statuses.each do |status| %>
        <%= render partial: "statuses/status", locals: { status: status } %>
      <% end %>
    <% else %>
      <p class="text-center pt-3">No status events yet. Hooray uptime!</p>
    <% end %>
  </div>
</section>
