<section class="page-header p-4">
  <div class="container-lg">
    <h1>Status history</h1>
  </div>
</section>
<section class="status-history mt-3">
  <div class="container-lg">
    <% if statuses.any? %>
      <% statuses.each do |status| %>
        <%= render partial: "statuses/status", locals: { status: status } %>
      <% end %>
    <% else %>
      <p class="text-center pt-3">Couldn't find any status events.</p>
    <% end %>
    <nav class="paginate-container" aria-label="Pagination">
      <%= will_paginate statuses, page_links: false %>
    </nav>
  </div>
</section>
