.overall-status-container {
  background: #fff;
  padding: 125px 0;
  border-bottom: 1px solid #ddd;
}

.big-status {
  h1 {
    font-size: 48px;
  }
}

.history-header {
  a {
    color: #24292e;
    text-decoration: underline;
  }
}
