.overall-status-container {
  background: #fff;
  padding: 125px 0;
}

.big-status {
  h1 {
    font-size: 48px;
  }
}

.main-status-timestamp {
  margin-left: 42px;
}

.history-header {
  h2 {
    color: #2D3138;
  }

  a {
    color: #5A5B68;
    text-decoration: none;
    font-weight: bold;
  }
}
